<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${categoryVO.genre}" class="title_line_text"></span >
    > <span th:text="${categoryVO.artist}" class="title_line_text"></span >
    > 글 등록
  </div>

  <aside class="aside_right">
    <a th:href="@{|./create?cate_id=${categoryVO.id}|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_search_paging?cate_id=${categoryVO.id}|}">기본 목록형</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?cate_id=${categoryVO.id}|}">갤러리형</a>
  </aside>

  <div class='menu_line'></div>

  <form name='frm' method='post' th:object="${postVO}" action='./create' enctype="multipart/form-data">
    <input type="hidden" name="user_no" th:value="${session.user_no}">
    <input type="hidden" name="cate_id" th:value="${categoryVO.id}">

    <div>
      <label>제목</label>
      <input type='text' name='title' value='' required="required"
             placeholder="노래 - 가수명" autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
      <label>내용</label>
      <textarea name='content' required="required" class="form-control" rows="12" style='width: 100%;' placeholder="여기에 내용을 작성하세요.">노래 리뷰</textarea>
    </div>
    <div>
      <label>검색어</label>
      <input type='text' name='word' value='' required="required"
             placeholder="발라드, 신나는, 드라이브 ..." class="form-control" style='width: 100%;'>
    </div>
    <div>
      <label>이미지</label>
      <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div>
    <div>
      <label>패스워드</label>
      <input type='password' name='passwd' value='1234' required="required"
             class="form-control" style='width: 50%;'>
    </div>
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_cateno?cate_id=${categoryVO.id}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>

  </form>

</div>