<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${categoryVO.genre}" class="title_line_text"></span >
    > <span th:text="${categoryVO.artist}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.user_level == 'admin'}">
      <a th:href="@{|/posts/create?cate_id=${categoryVO.id}|}">등록</a>
      <span class="menu_devide">│</span>
    </span>

    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno?cate_id=${categoryVO.id}&word=${word }&now_page=${now_page}|}">목록형</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?cate_id=${categoryVO.id}&word=${word }&now_page=${now_page}|}">갤러리형</a>
  </aside>

  <!-- /contents/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{posts/list_search_com::list_search_fragment}"></div>

  <div class='menu_line'></div>

  <div style='width: 100%;'> <!-- 갤러리 Layout  시작 -->
    <div th:if="${list.size() > 0}"  th:each="postVO, status:${list}"
         th:attr="onclick=|location.href='/posts/read?post_no=${postVO.post_no}&word=${word}&now_page=${now_page}'|"
         style='width: 24%; height: 200px; float: left; margin: 0.5%; padding: 0.5%; background-color: #EEEFFF; text-align: left; cursor: pointer;'>

      <div th:if="${postVO.file1.endsWith('jpg') or postVO.file1.endsWith('png') or postVO.file1.endsWith('gif') or postVO.file1.endsWith('jpeg')}"
           style="width: 100%; height: 100px;">
        <img th:src="@{|/contents/storage/${postVO.thumb1}|}" style="width: 100%; height: 100%;">
      </div>

      <div th:if="${((postVO.file1.endsWith('jpg') or postVO.file1.endsWith('png')  or postVO.file1.endsWith('gif') or postVO.file1.endsWith('jpeg')) == false) and (postVO.size1 > 0)}"
           style="width: 100%; height: 100px;">
        <span th:text="${postVO.file1}"></span>
      </div>

      <div th:if="${postVO.size1 == 0}" style="width: 100%; height: 100px;">
        <img src="/posts/images/none1.png" style="width: 100%; height: 100%;">
      </div>
      <div>
        <span th:if="${postVO.title.length() > 16 }"
              th:text="|${postVO.title.substring(0, 16) }...|" style="font-weight: bold;"></span>
        <span th:if="${postVO.title.length() <= 16 }"
              th:text="|${postVO.title}|" style="font-weight: bold;"></span>
        <br>

        <span th:if="${postVO.content.length() > 36 }"
              th:text="|${postVO.content.substring(0, 36) }...|"></span>
        <span th:if="${postVO.content.length() <= 36 }"
              th:text="|${postVO.content}|"></span>
      </div>

      <div style="width: 100%; text-align: right;">♡</div>

    </div>

    <div th:if="${list.size() == 0}" style="text-align: center; padding: 50px 0px;">
      <span>관련 글이 등록되지 않았습니다.</span>
    </div>
  </div>  <!-- 갤러리 Layout  종료 -->

  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 -->

</div>
</html>