<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${categoryVO.genre}" class="title_line_text"></span>
    > <span th:text="${categoryVO.artist}" class="title_line_text"></span>
    <span th:if="${word != null and word != ''}" th:text="|${word} ${search_count} 건|">
  </div>

  <aside class="aside_right">
    <span th:if="${session.user_level == 'admin'}">
      <a th:href="@{|/posts/create?cate_id=${categoryVO.id}|}">등록</a>
      <span class="menu_devide">│</span>
    </span>

    <a href="javascript:location.reload();">새로고침</a>
  </aside>

  <!-- /contents/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{posts/list_search_com::list_search_fragment}"></div>

  <div class='menu_line'></div>

  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>

    <tr th:each="postVO, status:${list}"
        th:attr="onclick=|location.href='/posts/read?post_no=${postVO.post_no}&word=${word}'|"
        style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:if="${postVO.file1.endsWith('jpg') or postVO.file1.endsWith('png') or postVO.file1.endsWith('gif') or postVO.file1.endsWith('jpeg')}">
          <img th:src="@{|/contents/storage/${postVO.thumb1}|}" style="width: 120px; height: 90px;">
        </div>

        <div th:if="${((postVO.file1.endsWith('jpg') or postVO.file1.endsWith('png') or postVO.file1.endsWith('gif') or postVO.file1.endsWith('jpeg')) == false) and (postVO.size1 > 0)}">
          <span th:text="${postVO.file1}"></span>
        </div>

        <div th:if="${postVO.size1 == 0}">
          <img src="/posts/images/none1.png" style="width: 120px; height: 90px;">
        </div>

      </td>
      </td>
      <td class='td_left'>
        <span th:text="${postVO.title}" style="font-weight: bold;"></span><br>
        <span th:if="${postVO.content.length() > 160 }"
              th:text="|${postVO.content.substring(0, 160) }...|"></span>
        <span th:if="${postVO.content.length() <= 160 }"
              th:text="|${postVO.content}|"></span>

      </td>
    </tr>
  </table>

  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>

</div>
</html>