<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${categoryVO.genre}" class="title_line_text"></span >
    > <span th:text="${categoryVO.artist}" class="title_line_text"></span >
    > <span th:text="|${postVO.title} 지도 등록/수정/삭제|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <A href="javascript:location.reload();">새로고침</A>
    <span class='menu_divide' >│</span>
    <a href="./list_by_cateno?cate_id=${cate_id }&now_page=${now_page == null ? 1 : now_page}&word=${word }">기본 목록형</a>
    <span class='menu_divide' >│</span>
    <a href="./list_by_cateno_grid.do?cate_id=${cate_id }&now_page=${now_page == null ? 1 : now_page}&word=${word }">갤러리형</a>
  </aside>

  <div class='menu_line'></div>

  <form name='frm_map' method='post' action='./map'>
    <input type="hidden" name="post_no" th:value="${postVO.post_no }">

    <div>
      <label>지도 스크립트</label>
      <textarea name="map" class="form-control" rows="12" style="width: 100%;" th:text="${postVO.map}" autofocus="autofocus"></textarea>
    </div>
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" onclick="frm_map.map.value=''; frm_map.submit();" class="btn btn-secondary btn-sm">지도 삭제</button>
      <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
    </div>

  </form>

  <hr>
  <div style="text-align: center;">
    <h4>[참고] 다음 지도의 등록 방법</h4>
    <img src='/posts/images/map01.jpg' style='width: 60%;'><br><br>
    <img src='/posts/images/map02.jpg' style='width: 60%;'><br><br>
    <img src='/posts/images/map03.jpg' style='width: 60%;'><br><br>
    <img src='/posts/images/map04.jpg' style='width: 60%;'><br><br>
    <img src='/posts/images/map05.jpg' style='width: 60%;'><br>
  </div>

</html>