<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${categoryVO.genre }" class="title_line_text"></span >
    > <span th:text="${categoryVO.artist}" class="title_line_text"></span >
    > 파일 수정
  </div>

  <aside class="aside_right">
    <a th:href="@{|./create?cate_id=${categoryVO.id }|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_search_paging?cate_id=${categoryVO.id }|}">기본 목록형</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_cateno_grid?cate_id=${categoryVO.id }|}">갤러리형</a>
  </aside>

  <div class='menu_line'></div>

  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div th:if="${postVO.file1.endsWith('jpg') or postVO.file1.endsWith('png')  or postVO.file1.endsWith('gif') or postVO.file1.endsWith('jpeg')}"
             style="text-align: center; width: 50%; float: left;">
          <img th:src="@{|/contents/storage/${postVO.file1saved}|}" style="width: 90%;">
        </div>

        <div th:if="${((postVO.file1.endsWith('jpg') or postVO.file1.endsWith('png')  or postVO.file1.endsWith('gif')) or postVO.file1.endsWith('jpeg') == false) and (postVO.size1 > 0)}"
             class="display_table" style="float: left; width: 50%;">
          <div class="display_table_cell">
            <span th:text="${postVO.file1}"></span>
          </div>
        </div>

        <div th:if="${postVO.size1 == 0}" style="text-align: center; width: 50%; float: left;">
          <img src="/posts/images/none1.png" style="width: 90%;">
        </div>

        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;' th:text="${postVO.title}"></span>
          <br>
          <form name='frm' method='POST' action='./update_file' enctype="multipart/form-data">
            <input type="hidden" name="cate_id" th:value="${categoryVO.id }">
            <input type="hidden" name="post_no" th:value="${postVO.post_no }">
            <input type="hidden" name="now_page" th:value="${now_page}">
            <input type="hidden" name="search_word" th:value="${word}">

            <br><br>
            변경 이미지 선택<br>
            <input type='file' name='file1MF' id='file1MF' value='' placeholder="파일 선택"><br>
            <br>
            <div style='margin-top: 20px; clear: both;'>
              <button type="submit" class="btn btn-secondary btn-sm">파일 변경 처리</button>
              <button type="submit" class="btn btn-secondary btn-sm">파일 삭제</button>
              <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </fieldset>

</div>

</html>