<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->


<div layout:fragment="content">

  <div class="title_line">로그인(*: 필수)</div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a href='./create'>회원 가입</a>
    <span class='menu_divide' >│</span>
    <a href='./list'>목록</a>
  </aside>

  <div class='menu_line'></div>

  <div style="width: 30%; margin: 0px auto ">
    <form name="frm" id="frm" th:object="${userVO}" method="post" action="/user/login" onsubmit="return send();">
      <div>
        <label for="email">아이디(이메일)*</label>
        <input type="text" name="email" id="email" value="" autofocus="autofocus"
               placeholder="아이디(이메일)" class="form-control fom-control-sm" style="width: 100%;">
        <span id='email_msg'></span>
      </div>

      <div class="form-group">
        <label for="passwd">패스워드*</label>
        <input type='password' name='password' id='passwd' value='' required="required"
               placeholder="패스워드" class="form-control form-control-sm" style="width: 100%;">
        <span id='passwd_msg'></span>
      </div>

      <div class="content_body_bottom">
        <button type="submit" class="btn btn-secondary btn-sm">로그인</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
      </div>


    </form>
  </div>

</div>

<th:block layout:fragment="script">
  <script src="/js/login.js"></script>
</th:block>


</html>