<!DOCTYPE html>

<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <div class="title_line">노래 삭제</div>

    <aside class="aside_right">
        <a href="javascript: location.reload();">새로 고침</a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/cate/list_all|}">목록</a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/cate/update/${categoryVO.id}|}">수정</a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/cate/delete/${categoryVO.id}|}">삭제</a>
        <span class="menu_divide"> | </span>
        <a th:href="@{|/cate/create|}">등록</a>
    </aside>
    <div class="menu_line"></div>


    <div style="width: 50%; margin: 0px auto;">
        <form name="frm" method="post" th:action="|/cate/delete/${categoryVO.id}|" th:object="${categoryVO}">
            <input type="hidden" name="id" th:value="${categoryVO.id}"> <!--/* 값 유지 */-->

            <div class="msg_warning">
                노래를 삭제하면 복구 할 수 없습니다.<br>삭제하시려면 [삭제] 버튼을 클릭하세요.
            </div>
            <div style="width: 60%; margin: 0px auto; background-color: #DDDDDD;">
                <label>노래 제목</label>: <span th:text="${categoryVO.title}"></span><br>
                <label>가수 / 아티스트</label>: <span th:text="${categoryVO.artist}"></span><br>
            </div>

            <div class="content_body_bottom">
                <button type="submit" class="btn btn-secondary btn-sm">삭제</button>
                <button type="button" onclick="location.href='/cate/list_all'" class="btn btn-secondary btn-sm">목록</button>
            </div>

        </form>
    </div>

    <div th:replace="~{cate/list_all_com::list_all_fragment}"></div>
</div>
</html>