<div th:fragment="navbarFragment">
    <div class="top_menu_img">
        <div class="top_menu_label">뮤직노트 ver 2.0</div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">뮤직노트</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown" th:each="MenuVO:${menu}">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${MenuVO.genre}">

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li th:each="CategoryVO:${MenuVO.list_name}">
                                <a class="dropdown-item" th:href="@{|/posts/list_by_cateno?cate_id=${CategoryVO.id}|}" th:text="${CategoryVO.artist}"></a>
                            </li>
                        </ul>

                    </li>
                    <li class="nav-item" th:if="${session.user_level == 'admin'}">
                        <a th:href="@{|/cate/list_search|}" class="nav-link">노래 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{|/user/create|}">회원 가입</a>
                    </li>
                    <li class="nav-item" th:if="${session.user_level == 'admin'}">
                        <a class="nav-link" th:href="@{|/user/list|}">회원 목록</a>
                    </li>

                    <li class="nav-item" th:if="${session.user_no != null}">
                        <a class="nav-link" href="/user/passwd_update">비밀 번호 변경</a>
                    </li>
                    <li class="nav-item">
                        <span th:if="${session.user_no == null}"><a class="nav-link" href="/user/login" th:text="@{|로그인|}"></a></span>
                        <span th:if="${session.user_no != null}"><a class="nav-link" href="/user/logout" th:text="@{|${session.email} 로그아웃|}"></a></span>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>